p{
  font-family:Roboto;
  margin-top: 0;
  margin-bottom:0 
}

.video-title{
font-weight:bold;
font-size: 18px;
width: 280px;
line-height: 24px;
margin-bottom: 5px;

}

.video-stats{
font-size:14px;
color:#606060;
margin-bottom: 20px;

}

.video-author{
color:#606060;
font-size:14px;
margin-bottom: 20px;


}

.description{
font-size:14px;
margin-bottom: 0px;
width: 280px;
color:#606060;
line-height: 22px;
margin-bottom:100px;



}

.apple-text{
margin-bottom: 50px;
font-size: 14px;
background-color:rgb(232, 55, 55);
color: white;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
}

.span-example{
color:red
}

.span-example:hover{
text-decoration: underline;
cursor: pointer;
}

.shop-now{
margin-left:12px;
}
.shop-now:hover{
text-decoration: underline;
cursor: pointer;

}
